name: Build EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install puzpy pyinstaller

    - name: Build EXE
      run: |
        pyinstaller --noconsole --onefile crossword_solver.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: CrosswordSolver
        path: dist/crossword_solver.exe
